// Common styles
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure, dl, dt, dd { 
	margin:0; 
	padding:0; }

body {}
input:focus, 
button:focus, 
select:focus, 
a:focus, 
a:focus img, 
textarea:focus, 
:focus {
	outline:none;
	text-decoration:none; }

textarea {
	resize:none; }

img { vertical-align:middle; max-width:100%;}
a {}
a, a:focus, a:hover{text-decoration:none;}
input[type="text"], input[type="submit"], 
input[type="password"] { 
	display:block; 
	border-radius:0; 
	-webkit-appearance:none; 
	text-align:left; 
	padding-left:0; }

input[type="submit"] { 
	text-align:center; }

ol, ul { 
	list-style:none;
  li {  
      list-style-type:none; 
    }
}


.clear { 
	clear:both; }

.floatL { 
	float:left; }

.floatR {
	float:right; }

.text-center { 
	text-align:center; } 

.text-right { 
	text-align:right; }

.text-left { 
	text-align:left; }

.text-uppercase { 
	text-transform:uppercase; }

// Clearfix
.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.block{ 
	display: block; }

// Type
p { 
	padding-bottom:15px; }

.center-block {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-left:0px;
  padding-right:0px; }

.row .center-block {
	padding-left:15px;
	padding-right:15px; }

html { 
	background-color:$half-white; 
	height: 100vh;}


// Setup the function in your functions or helpers files, wherever you keep these bits.
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

// Then call it with the rules/styles you want wherever you want (As long as the file/include has access to the above function of course).
#{headings(1,6)} {
  color: $primary;
}

#{headings(1,3)} {
  margin-bottom:5px;
  padding-bottom:15px;
}

// Transitions

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

a { 
	color:$primary; 
	@include transition(color .3s ease);
	&:hover { 
		color:black; }
}

// Cross browser opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
} // usage
  //  @include opacity(0.8);

.test { border:1px solid red}


