
@font-face {
    font-family: 'regan-lightregular';
    src: url('../fonts/reganlignt-webfont.eot');
    src: url('../fonts/reganlignt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/reganlignt-webfont.woff2') format('woff2'),
         url('../fonts/reganlignt-webfont.woff') format('woff'),
         url('../fonts/reganlignt-webfont.ttf') format('truetype'),
         url('../fonts/reganlignt-webfont.svg#reganaltw00-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'regan-extraboldregular';
    src: url('../fonts/reganextrabold-webfont.eot');
    src: url('../fonts/reganextrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/reganextrabold-webfont.woff2') format('woff2'),
         url('../fonts/reganextrabold-webfont.woff') format('woff'),
         url('../fonts/reganextrabold-webfont.ttf') format('truetype'),
         url('../fonts/reganextrabold-webfont.svg#reganaltw00-extraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-lig-webfont.eot');
    src: url('../fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lig-webfont.woff2') format('woff2'),
         url('../fonts/lato-lig-webfont.woff') format('woff'),
         url('../fonts/lato-lig-webfont.ttf') format('truetype'),
         url('../fonts/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}