/* Theme .scss*/



body{ font-size: 16px; }

body {
    font-family: Helvetica, Arial, sans-serif;
    color:$black-dark ;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    background: $half-white;
}

header{
  position: fixed;
  width: 100%;
  text-align: center;
  line-height: 108px;
  height: 108px;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  z-index: 3;

	  &.sticky {
		  line-height:90px;
		  height:90px;
		  background: $gray;
		  text-align: left;
		  padding-left: 20px;

         a {  
  			padding: 20px 25px;
  			font-size: 16px;

  		}

	}

  ul{
  	float:right;
  	
  	li {
  		float: left;
  		a {
  			padding: 20px 25px;
  			color:$white; 

  		} // header > ul > li > a
  	}  // header > ul > li
  } // header > ul
} // header



header.sticky .main-logo, header .sticky-logo  {  display: none;}
header.sticky .sticky-logo, header .main-logo { display: block;}
header.sticky .logo a { padding: 0px;  margin-top: 11px;  display: block;}

main {
    background:url(../images/home-main-bg.jpg) no-repeat center;
    background-size: 100%;
  	height:100vh;
  	position:relative;
  	z-index:2; 

  	&:before {
		content:"";
	  	width:100%;
	  	height:100vh;
	  	background-color:rgba($gray-dark, 0.5);
	  	position:absolute;
	  	z-index:1;
  	} // main:before    
} // main



.light-blue
{
    background: $half-white;
    height:500px;
}


.gray-bg {

	background:$gray;
	height:500px;
}

footer {
  background: $footer-bg; height: 50px;
}

// .light-blue{background:$lignt-blue};


.bgPart {
    height: 20px;
    padding: 100px 0;
    width: 100%;

    position: relative;
    z-index: 2;
    background:rgba($gray-dark ,0.5);
    // height:100vh;
}

.intro {
    background-attachment: fixed;

    h1 {
      color:$white;
      font-size:42px;
      text-transform: uppercase;
      text-shadow:1px 1px 1px $primary;
      padding-bottom: 0;
      margin-bottom: 0;
      font-family:'regan-extraboldregular', Helvetica, Arial, sans-serif;
    }

    b {
      color:$secondary;
      font-weight:normal;
      font-family:'regan-lightregular', Helvetica, Arial, sans-serif;
      font-size:18px;
    }
}


.coverBG {
    background: no-repeat;
    background-size: cover;
}

.tb-row {
    display: table;
}

.tb-cell {
    display: table-cell;
    vertical-align: middle;
}

.search-mate {
  padding:25px;
  background:$white;
  max-width: 860px;
  margin: 30px auto;

  .search-main {
    width: 100%;
    border:1px solid transparent;
    color:$gray-dark;
    padding: 5px;
    font-family:'latolight',Helvetica,Arial,sans-serif;
    font-size:18px;
    min-height:55px;
  } // search-main

  .shorten {
    a {
      background-color:$secondary;
      color:$gray-dark;
      text-transform: uppercase;
      padding: 15px;
      display: block;
      font-size:16px;
      text-align: center;
      text-shadow:1px 1px 1px $half-white;
      // max-width:50px;
    }
  }

} // search-mate


.dropbtn {
    background-color: $primary;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgba($primary, 0.8);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba($black,0.2);
    right: 0;
}

.dropdown-content a {
    color: $black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: $half-white}

.show {display:block;}


.upload {
  .dropdown {
    position: absolute;
    right: -60px;
    top: 0;

      .dropbtn {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color:rgba($gray-dark, 0.1);

          i {
            color:$gray-dark;
          }
      }
  }
}
