/* Theme .scss*/


.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }


body{ font-size: 16px; }

body {
    font-family:'latolight',Helvetica,Arial,sans-serif;
    color:$black-dark ;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    background: $half-white;
}

header{
  position: fixed;
  width: 100%;
  // text-align: center;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  padding:30px 10px;
  z-index: 3;

  @media (max-width: $break-xs) {
    .hidden-landing {
      display: none;
    }
  }

     &.sticky {
          background: rgba(#000, 0.8);
          padding: 0;
          
          .hidden-landing {
            @media (max-width: $break-xs) {
              display: block;
            }
          }
      }
    
    @media (min-width: $break-sm) {
    	  &.sticky {
            .home-nav {
              position: relative;
              top: 30px;
            }
        } // header.sticky

        &:not(.sticky) {
          .home-nav {
            position: relative;
            top: 35px;
          }

          // .hidden-landing {
          //   display: none;
          // }
        }
    }




} // header


.mnav {
  ul {
    li {
      display: inline-block;
    }
  }
}




.home-nav {
  @media (min-width: $break-sm) {
    background-color:transparent;
  }
  @media (max-width: $break-xs) {
    background-color:$primary;
  }

    ul {
      float: right;

      li {
        a {
          color:$white;
          font-family:'latolight',Helvetica,Arial,sans-serif;
          font-size:16px;
          transition: all .8s;
            @media (min-width: $break-sm) {
                padding:5px 15px;
                @include border-radius(3px);
                margin:0 5px;
            }
          &:hover{
            background-color:$secondary;
            color:$gray-dark;
          } // home-nav a:hover
        } // home-nav a

        &.active {
          a{
            background-color:$secondary;
            color:$white;
          }
        } 

        .dropdown-menu {
          li {
            a {
                  display: block;
                  padding: 3px 20px;
                  clear: both;
                  font-weight: normal;
                  line-height: 1.42857143;
                  color: #333;
                  white-space: nowrap;
                  background:#fff;
                  @include border-radius(0);

                  &:hover {
                    background-color:$secondary;
                  }
            }
          }
        }
      } // home-nav li
    } // home-nav ul
   } // home-nav



.mobileMenu li.active a{
  padding:5px 15px;
  @include border-radius(3px);
}



header.sticky .main-logo, 
header .sticky-logo  {  
  display: none;
}

header.sticky .sticky-logo, 
header .main-logo { 
  display: block;

}

header.sticky .logo a { 
  display: block;
}

.sticky-logo {
  @media (max-width: $break-xs) {
    display: none !important;
  }
}


.light-blue {
    background: $half-white;
    height:500px;
} // light-blue


.gray-bg {
	background:$gray;
	height:500px;
} // gray-bg


// .light-blue{background:$lignt-blue};


.btn-circle {
  @include border-radius(50%);
  background-color:rgba($black, 0.1)
} // btn-circle


.bgPart, .bgPartInner {
    height: 20px;
    padding: 100px 0;
    width: 100%;

    position: relative;
    z-index: 2;
    background:rgba($gray-dark ,0.5);
    
    &.landing{
      background:rgba(#000 ,0.5);
    }
    &.form-panel {
      background:transparent;
    }
    // height:100vh;
}



.intro {
    background-attachment: fixed;

    h1 {
      color:$white;
      font-size:42px;
      text-transform: uppercase;
      text-shadow:1px 1px 1px $primary;
      padding-bottom: 0;
      margin-bottom: 0;
      font-family:'regan-extraboldregular', Helvetica, Arial, sans-serif;
      transition: all .3s;
        @media (max-width: $break-xs) {
          font-size:22px;
          margin:15px 0;
          padding:15px 0;
        } // intro h1 (max width 767px)
    } // intro h1

    b {
      color:$secondary;
      font-weight:normal;
      font-family:'regan-lightregular', Helvetica, Arial, sans-serif;
      font-size:18px;
    } // intro b
} // intro


.coverBG {
    background: no-repeat;
    background-size: cover;
} // coverBG

.tb-row {
    display: table;
} // tb-row

.tb-cell {
    display: table-cell;
    vertical-align: middle;
} // tb-cell

.search-mate {
  padding:25px;
  background:$white;
  max-width: 860px;
  margin: 30px auto;
  box-shadow:0px 24px 63px 6px rgba(0, 0, 0, 0.4);

  .search-main {
    width: 100%;
    border:1px solid transparent;
    color:$gray-dark;
    padding: 5px;
    font-family:'latolight',Helvetica,Arial,sans-serif;
    font-size:18px;
    min-height:55px;
  } // search-mate search-main

  .shorten {
    a {
      background-color:$secondary;
      color:$gray-dark;
      text-transform: uppercase;
      padding: 15px;
      display: block;
      font-size:16px;
      text-align: center;
      text-shadow:1px 1px 1px $half-white;
      // max-width:50px;
    }
  }

  .shorten > a {
    @media (max-width: $break-xs) { 
      margin-right:50px;
    } // max-width:767 only
  } // shorten > a

} // search-mate

.result-mate {
    padding:25px;
    background:rgba($primary, 0.5);
    max-width: 840px;
    margin: 25px auto;

    input[type='text'] {
      width: 100%;
      border:1px solid transparent;
      background-color:transparent;
      color:$white;
      padding: 5px;
      font-family:'latolight',Helvetica,Arial,sans-serif;
      font-size:18px;
      min-height:55px; }

    .copy, .view {

      display: inline-block;
      padding: 5px;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 40px;
      background-color:rgba($white, 0.1);

      i {
        color:rgba($secondary, 0.8)
      }

      span {
        border:1px solid transparent
      }
    }

    .view {
      margin-left: 25px;
    }


  } // result-mate


.top-dec {
  position: relative;
  @include clearfix();

  &:before, &:after  {
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px; 
      @media (max-width: $break-xs) {
        top:-10px;
      }
  }

  &:before {
    left: -40px;
    border-top: 2px solid $secondary;
    border-left: 2px solid $secondary; 
      @media (max-width: $break-xs) {
        left:-10px;
      }
  }

  &:after {
      right: -40px;
      border-top: 2px solid $secondary;
      border-right: 2px solid $secondary; 
        @media (max-width: $break-xs) {
          right:-10px;
        }
    }
}

.bottom-dec {
  position: relative;
  @include clearfix();

  &:before, &:after  {
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -96px; 
      @media (max-width: $break-xs) {
        bottom:-12px;
      }
  }

  &:before {
    left: -40px;
    border-bottom: 2px solid $secondary;
    border-left: 2px solid $secondary; 
      @media (max-width: $break-xs) {
        left:-10px;
      }
  }

  &:after {
      right: -40px;
      border-bottom: 2px solid $secondary;
      border-right: 2px solid $secondary; 
        @media (max-width: $break-xs) { 
          right:-10px;
        }
    }
}


.dropbtn {
    background-color: $primary;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgba($primary, 0.8);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba($black,0.2);
    right: 0;
    z-index: 9;
}

.dropdown-content a {
    color: $black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: $half-white}

.show {display:block;}


.upload {
  .dropdown {
    position: absolute;
    right: -60px;
    top: 0;
      @media (max-width: $break-xs) { 
        right:5px;
      }

      .dropbtn {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color:rgba($gray-dark, 0.1);

          i {
            color:$gray-dark;
          }
      }
  }
}


// tooltip

.tool-tip {
  position:relative;

  &::before, &::after {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
  
  &::before {
    content: attr(data-text);
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #2E1C2B;
    border-radius: .25em;
    bottom: 90px;
    left: calc(50% - 50px);
    color:$secondary;
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #2E1C2B;
    left: calc(50% - 10px);
    bottom: 40px;
  }

  &:hover::before, 
  &:hover::after {
    opacity: 1;
    visibility: visible; }

  &:hover::before {
    bottom: 60px;}

  &:hover::after {
    bottom: 40px; }

}


// bookmark-area

.bookmark-area {
  padding:70px 0;
  text-align: center;
  .inline-blocks {
    // display: inline-block;
    margin: 10px;
    border:1px solid rgba($gray-dark, 0.1);
    text-align: center;
    width: 200px;
    height: 200px;
    background-color:$white;
    display: inline-block;
    vertical-align: middle;
    transition: box-shadow .3s ease-out;

    a {
      
      span {
        display: block;
        font-family:'latolight',Helvetica,Arial,sans-serif;
        font-size:18px;
        color:$primary;
      }

      i {
          width: 64px;
          height: 64px;
          display: inline-block;
          background-size:44px;
          background-repeat: no-repeat;
          background-position:center;
        }

      .icon-bookmark {
        background-image:url(../images/icons/bookmark.svg); }

      .icon-eye {
        background-image:url(../images/icons/eye.svg); }

      .icon-share {
        background-image:url(../images/icons/slideshare.svg); }
      
      .icon-contact {
        background-image:url(../images/icons/add-contact.svg); }

      .icon-card {
        background-image:url(../images/icons/card.svg); }

      .icon-list {
        background-image:url(../images/icons/list.svg); }

  

    }

   &:hover {

      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);

      .icon-bookmark {
          background-image:url(../images/icons/bookmark-hover.svg); }
      
      .icon-eye {
          background-image:url(../images/icons/eye-hover.svg); }
      
      .icon-share {
        background-image:url(../images/icons/slideshare-hover.svg); }
      
      .icon-contact {
        background-image:url(../images/icons/add-contact-hover.svg); }

      .icon-card {
        background-image:url(../images/icons/card-hover.svg); }

      .icon-list {
        background-image:url(../images/icons/list-hover.svg); }

    } // inline-blocks:hover
  } // inline-blocks
} // bookmark-area

.t-flex{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
}

.centerPart {
    height: 20px;
    width: 100%;
    position: relative;
    z-index: 2;
    // height:100vh;
}

.custom-url {
  padding: 100px 30px;
  background-position:center;

  .form-mate {
    max-width: 900px;
    padding: 50px 30px;
    background-color:rgba($black-dark, 0.9);
    margin: 0 auto;
    @include border-radius(3px);
    background-image: url('../images/pattern-strip.png');
    background-repeat:repeat;
      
      h3 {
        font-family:'regan-lightregular',Helvetica,Arial,sans-serif;
        font-size:30px;
        color:$secondary;

        span {
          color:$yellow;
        }
      }

      .select-domain {

        .input-group-addon {
          background-color:rgba($black-dark, 0.8);
          border-color:rgba($white, 0.3);
          color:rgba($half-white, 0.5)
        }

        select {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
          padding-right: 8px;
          background-origin: content-box !important;
          background:url('../images/down.png') no-repeat right center;
          color:$secondary;
          border-color:rgba($white, 0.3);

          option {
            color:$gray-dark; 
            } // select-domain option
        } // select-domain select
      } //select-domain


      .customized-text {
        width: 100%;
        background-color:rgba($black-dark, 0.8);
        border:1px solid rgba($white, 0.3);
        color:rgba($half-white, 0.5);
        @include border-radius(3px);
        font-size:14px;
        padding:6px 15px;

        &[readonly] {
          cursor: no-drop;
        }

      }

    //   seelct {
    //    -webkit-appearance: none;
    //    -moz-appearance: none;
    //    text-indent: 1px;
    //    text-overflow: '';
    //   }

    label {
          font-weight: normal;
          font-size: 14px;
          color: $half-white;
        }

  }
}

// custom-search 
.custom-search {
  background-color:$secondary;
  color:$gray-dark;
  text-transform: uppercase;
  padding:8px 15px;
  display: inline-block;
  font-size:16px;
  text-align: center;
  text-shadow:1px 1px 1px $half-white;
  @include border-radius(3px);
  max-width: 120px;
  margin-top: 25px;
  // margin-bottom: 25px;
} // custom-search

.info-text {
  opacity: 0.5;
}

.vertical-add {
  margin-top: 50px;}


  .site-info{
    padding: 70px 0;
    h3 {
      font-family:'regan-lightregular',Helvetica,Arial,sans-serif;
      font-size:30px;
      color:$black-dark;
    }

    span {
      color:$black-dark;
      font-family:Helvetica,Arial,sans-serif;
      font-size:16px; 
      @media (max-width: $break-xs) {
        display: block;
        padding-bottom: 25px;
      }
    }
  }

  
  .row-plate {
    @media (min-width: $break-sm) {
      padding-top: 20px;
    }

    .single-info {

      border:1px solid rgba(#000, 0.2);
      background-color:$white;
      transition: box-shadow .3s ease-out;
      padding: 20px;

      @media (max-width: $break-sm) {
        margin-bottom: 20px;
      }

      b {
        font-weight: bold;
        color:$primary;
        display: block;
        margin-bottom: 5px;
        font-family:'latolight',Helvetica,Arial,sans-serif;
      } // single-info b

      p {
        font-family:Helvetica,Arial,sans-serif;
        font-size:14px;
      } // single-info p

      a {
        color:$primary;
      } // single-info a

      &:hover {
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
      } // single-info:hover
    } // single-info

    .last-row {
      @media (max-width: $break-xs) {
        padding-left: 15px;
        padding-right: 15px;
      }
  }
  } // row-plate


  .navbar-toggle {
    border:1px solid $secondary;
    width: 40px;
    height: 40px;
    @include border-radius(50%);
    left: -30px;
    top: 10px;
    span {
      background-color:$secondary;
    }
  }



      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:72px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }

          .navbar-collapse {
            padding-left: 0;
            padding-right: 0;

            ul {
              padding: 0;
              margin: 0;
            }
          }

          .navbar-nav  {
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 15px;
            width: 100%;
            @include clearfix();
          }
      }



.GroupNavTrigger {

}

.GroupNav {
  width: 320px;
  text-align: center;
  position: fixed;
  z-index: 9999;


  ul {
    position:relative;
    margin-top:15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border:1px solid #ccc;
    background:$white;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    
    @media (max-width: $break-xs) {
        box-shadow:0 0 0 transparent;
        right:45px;
    }

    &:before {
      content:"";
      border:10px solid transparent;
      border-bottom-color:white;
      position:absolute;
      top:-20px;
      left:0;
      margin:0 auto;
      width:10px;
      right:0;
      @media (max-width: $break-xs) {
        right:-26%;  
      }
    }
    li {
      background-color:#ddd;
      width: 84px;
      height: 84px;
      display: inline-block;
      vertical-align: middle;
      margin: 5px;
      padding: 5px;
      position: relative;
      background-repeat:no-repeat;
      background-size:44px;
      background-position:center;

        &:hover {
          background-color:transparent;
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
        }

        a {
            font-size:14px;
            font-family:Helvetica,Arial,sans-serif;
            color:#525252;
            display: block;
            height: 74px;

            i {
              display: block;
              margin: 0 auto;
              // border:1px solid red;
              width:30px;
              height: 30px;
            }

            span {
              position: absolute;
              bottom: 5px;
              display:block;
              width:100vw;
              max-width:75px;
              text-align: center;
              font-size:12px;
              line-height: 12px;
            }
        }

        &.shorten {
          background-image:url(../images/icons/scissor.svg);
          background-size:35px;
          &:hover {
            background-image:url(../images/icons/scissor-hover.svg);  
          }
        } // GroupNav li.shorten

        &.share-it {
          background-image:url(../images/icons/slideshare.svg);
          background-size:35px;
          &:hover {
            background-image:url(../images/icons/slideshare-hover.svg);  
          }
        } // GroupNav li.share-it

        &.code-it {
          background-image:url(../images/icons/qr-code.svg);
          background-size:30px;
          &:hover {
            background-image:url(../images/icons/qr-code-hover.svg);  
          }
        } // GroupNav li.code-it

        &.card-it {
          background-image:url(../images/icons/card.svg);
           background-size:36px;
          &:hover {
            background-image:url(../images/icons/card-hover.svg);  
          }
        } // GroupNav li.card-it

        &.draw-it {
          background-image:url(../images/icons/draw-it.svg);
          background-size:30px;
          &:hover {
            background-image:url(../images/icons/draw-it-hover.svg);  
          }
        } // GroupNav li.draw-it

        &.calculator {
          background-image:url(../images/icons/calculator.svg);
          background-size:26px;
          &:hover {
            background-image:url(../images/icons/calculator-hover.svg);  
          }
        } // GroupNav li.calculator
        
        &.stop-watch {
          background-image:url(../images/icons/stop-watch.svg);
          background-size:30px;
          &:hover {
            background-image:url(../images/icons/stop-watch-hover.svg);  
          }
        } // GroupNav li.stop-watch

        &.currency-convertor {
          background-image:url(../images/icons/currencies.svg);
          background-size:30px;
          background-position:center 20px;
          &:hover {
            background-image:url(../images/icons/currencies-hover.svg);  
          }
        } // GroupNav li.currency-convertor

         &.loans-calculator {
          background-image:url(../images/icons/currency-value.svg);
          background-size:32px;
          background-position:center 20px;
          &:hover {
            background-image:url(../images/icons/currency-value-hover.svg);  
          }
        } // GroupNav li.currency-convertor
    }
  }
}

footer {
  background-color:$black-dark;
  padding:20px 0;
  font-family:Helvetica,Arial,sans-serif;
  .copyright {
    p {
        color:$primary;
        font-size:14px;
        padding-bottom: 0;
        
        text-align:left;

        @media (max-width: $break-xs) {
          text-align: center;
        }
    }
  }

  .poweredby {
    p {
      font-size:14px;
      padding-bottom: 0;
      
      text-align: right;

      @media (max-width: $break-xs) {
          text-align: center;
        }
    }
    a {
      color:$primary;
      font-size:14px;
    }
  }

  .copyright, .poweredby {

  }
}


.no-hover {
  a {
    padding-bottom: 10px;
    background-color:transparent;
    &:hover, &:focus {
      background-color:transparent !important;
    }
  }
}

.interior-ui {
  padding:75px 0;
  min-height: 50vh;
}

[role="dialog"], 
[role="share"],
[role="bookmark"],
[role="contacts"],
[role="list"],
.Background {
  background:$red url(../images/diagmonds_@2X.png) repeat;
}

.modal-backdrop.in {
  z-index: 0;
}
.modal-content {
  @include border-radius(3px);
}

.modal-open {
  header {
    display: none;
  }
}

.btn-theme {
  background-color:$secondary;
  color:$black-dark;
  border-color:#90af31;
  font-family: Helvetica, Arial, sans-serif; 
  &:hover {
    background-color:#90af31;
    // color:$white;
  }

  &.danger {
    background-color:#f03434;
    border-color:#db2929;
    color:$white;

    &:hover {
      background-color:#db2929;
    }
  }
}

.view-link {
  position: absolute;
  right: 55px;
}


.search-result {
  padding:25px 0;

  p {
    color:$white;
    padding: 0;
    font-size:14px;
    font-family: Helvetica, Arial, sans-serif; 
    span {
      color:$black-dark;
      padding:2px 5px;
      background-color:rgba($yellow, 0.8);
    }
  }
}


.btn-yellow {
  background-color:$yellow;
  color:$gray-dark;
  text-transform: uppercase;
  padding:8px 15px;
  font-size:16px;
  text-align: center;
  text-shadow:1px 1px 1px $half-white;
  @include border-radius(3px);
  margin-top: 25px;
}

.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    text-indent: -999999px;
    width: 27px;
    // height: 27px;
}

.badgebox:focus + .badge
{
    // box-shadow: inset 0px 0px 5px;
}

.badgebox:checked + .badge
{
  text-indent: 0;
}

.badge {
  // @include border-radius(50%);
}

.domain-list {
  margin:0 -30px -50px -30px;
  padding:50px 30px;
  background-color:#2e606d;

  label {
    color:$secondary !important;
    @include border-radius(50px);
    margin:5px 2px;
    background-color:transparent;
    border-color:$secondary;
    color:$secondary;

    &:hover {
      color:$black-dark !important;
    }
  }

  .badge {
    background-color:$black-dark;
    color:$secondary;
  }
}

input[type="text"], 
input[type="password"],
input[type="email"] {
  padding-left: 15px;
  @include border-radius(4px);
}

.search-wrapp {
  background-color: #eeeeee;
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -15px;
  margin-bottom: 15px;
}

// 
.image-preview-input {
  text-align: right;
  overflow: hidden;
  position: relative;
  input[type=file] {
  position: absolute;
  top: 5px;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size:16px;
  opacity: 0;
  filter: alpha(opacity=0); 
  }
}

// 


.landing-wrap {
  max-width: 920px;
  figure {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color:rgba(#000, 0.5);
    figcaption {
      background-color:rgba(#000, 0.2);
        padding: 15px 5px;
        display: block;
      a {
        &:hover {
          // color:$white;
        } // figcaption a:hover
      } // figcaption a
    } // figcaption

    &:hover {
      figcaption {
        // background-color:$white;
        color:$black;
      }
    } // figure:hover figcaption
  } // figure
} // landing-wrap

.icon-block {
  height:145px;
  display:block;
}

[data-name="shorten"] {
  figcaption{
      color:$orange;
    }

  &:hover {
    figcaption{
      background-color:$orange;

    }
  }
}

[data-name="share"] {
  figcaption{
      color:$pink;
    }

  &:hover {
    figcaption{
      background-color:$pink;

    }
  }
}

[data-name="code"] {
  figcaption{
      color:$purple-medium;
    }

  &:hover {
    figcaption{
      background-color:$purple-medium;

    }
  }
}

[data-name="card"] {
  figcaption{
      color:$baby-blue;
    }

  &:hover {
    figcaption{
      background-color:$baby-blue;

    }
  }
}

// 
[data-name="card"] {
  figcaption{
      color:$baby-blue;
    }

  &:hover {
    figcaption{
      background-color:$baby-blue;

    }
  }
}


[data-name="draw"] {
  figcaption{
      color:$sorrell-brown;
    }

  &:hover {
    figcaption{
      background-color:$sorrell-brown;

    }
  }
}

[data-name="calculator"] {
  figcaption{
      color:$secondary;
    }

  &:hover {
    figcaption{
      background-color:$secondary;

    }
  }
}

[data-name="sWatch"] {
  figcaption{
      color:$summer-sky;
    }

  &:hover {
    figcaption{
      background-color:$summer-sky;

    }
  }
}

[data-name="cConvertor"] {
  figcaption{
      color:$baby-blue;
    }

  &:hover {
    figcaption{
      background-color:$baby-blue;

    }
  }
}
// 

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 55px;  
    padding-right: 15px;
}

.material-switch > label::before {
    background: rgb(38, 51, 56);
    // box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    @include border-radius(30px);
    content: '';
    height: 25px;
    margin-top: -8px;
    position:absolute;
    // opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 55px;
}
.material-switch > label::after {
    background: #f54337;
    border-radius: 16px;
    // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 15px;
    left: 6px;
    margin-top: -8px;
    position: absolute;
    top: 5px;
    transition: all 0.3s ease-in-out;
    width: 15px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    // background: inherit;
    // opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: $secondary;
    left: 34px;
}

.login-panel {

}

.login-container {
  max-width:720px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);

  .right-panel {
    background-color:$white;

    h3 {
      padding-bottom: 70px;
    }

    input[type="text"],
    input[type="password"] {
        border:0;
        border-bottom:2px solid #cecece;
        @include border-radius(0);
        background-color:transparent;
        box-shadow:0 0 0 transparent;
        font-family: Helvetica, Arial, sans-serif;
        font-size:16px;
        padding-left: 0;

        &:focus {
          box-shadow:0 0 0 transparent;
          border-color:$primary;
        }
      }

      input[type="submit"] {
        margin-top:75px;
        margin-bottom: 75px;
        font-family: Helvetica, Arial, sans-serif;
        font-size:16px;

        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        margin-right: auto;
        margin-left: auto;
        max-width:320px;
      }

      .form-group {
        margin-bottom: 30px;
        position: relative;

        .forgot {
          position: absolute;
          background-color:#e6e6e6;
          color:$black-dark;
          width: 30px;
          height: 30px;
          right: 0;
          top: -15px;
          text-align: center;
          line-height: 36px;
          @include border-radius(50%);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
        }
      }

  }
}

.left-panel, 
.right-panel {
  padding-top: 25px;
}

.left-panel {
  background:#f8f1e1 url(../images/form-banner.png) no-repeat top center;
  position: relative;
  overflow: hidden;
  @media (min-width: $break-sm) {
    &:before {
        content:"";
        width:100vw;
        height:100% !important;
        background:rgba(#000, 0.6);
        position: absolute;
        left:0;
        top:0;
    }
  }
  // padding-bottom: 25px;
  @media (max-width: $break-xs) {
    background-image:none;
    min-height:210px;
  }
}

.material-switch > input[type="checkbox"] {
    // display: none;   
    opacity:0;
}

.remember{
  position: relative;
  min-height: 55px;
  &:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 3px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:16px;
    color:#6e7174;
  }
}


.signup-wrap {
  background-color:#efefef;
  font-size:14px;
  padding:15px;

  p {
    padding-bottom: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;

    a {
      padding:0 10px;
    }
  }
}

.home-bottom {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.button {
  @include border-radius(3px);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size:14px;
  &.theme-color {
    background-color:$primary;
    color:$white;
    border-color:transparent;

    &:hover {
        border-color:$primary;
        background-color:rgba($primary, 0.9);
    }
  }
}

.data-error {
  font-family: Helvetica, Arial, sans-serif;
  font-size:14px;
  color:$red;
  right: 0;
  bottom: -25px;
  position: absolute;
}

.custom-upload {
  overflow:hidden;
  position:relative;
  height:50px;
  &:before {
    content:"UPLOAD";
    background-color: #a4c838;
    color: #052b30;
    text-transform: uppercase;
    padding: 15px;
    display: block;
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px 1px #f2f6ed;
    cursor:pointer;
  }

  input[type="file"] {
    opacity:0;
    position:relative;
    z-index:999;
    top:-50px;
    padding-top:10px;
    padding-bottom:10px;
  }
}