
// common colors

$red 			: 	#A71414;
$green 			: 	#23CF5F;
$yellow 		: 	#ffb401;
$blue 			: 	#1EAAF1;
$gray 			: 	#AFAFAF;
$gray-dark 		: 	#052b30 ;
$white 			: 	#FFFFFF;

// Landing UI
$orange			: 	#feb031;
$pink 			: 	#ff4f8a;
$purple-medium	:   #b06afe;
$baby-blue		:   #50f0fe;
$sorrell-brown	:   #a6815b;
$summer-sky		: 	#2fc6fe;


// Theme colors

$primary 		: 	#27a5b7; // vblue/green
$secondary		: 	#a4c838; // Green
$half-white		: 	#f2f6ed; 
$black			: 	#1d3238;
$black-dark 	: 	#283e43;
// $footer-bg	 	: 	#283e43;

// widths

$full			: 	100%;
$one-third		: 	75%;
$full-height	: 	100vh;
$half			: 	50%;
$quarter		: 	25%;

// Media Quries

$break-lg		: 	1200px;  // Ex: @media (min-width: $break-lg) {}
$break-md		: 	992px;   // Ex: @media (min-width: $break-md) {}
$break-sm		: 	768px;   // Ex: @media (min-width: $break-sm) {}
$break-xs		: 	767px;   // Ex: @media (min-width: $break-xs) {}










