
$red :red;
$green :green;
$yellow :#ffb401;
$blue :blue;
$gray :gray;
$gray-dark :#052b30 ;
$white :white;


$primary : #27a5b7; // vblue/green
$secondary: #a4c838; // Green
$half-white: #f2f6ed; 
$black:#1d3238;
$black-dark :#283e43;

$footer-bg:#283e43;






